@import url("https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  color: white;
}

.revalia {
  font-family: "Revalia", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.transparent-text {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.shadow-text {
  text-shadow: 0px 4px 55px #c47dfb;
}
